body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background: white;color: black;
}
h2{text-decoration: underline;}
.block{
    width: 75%;padding: 5px;
    background-color: lightgray;
    border: 2px solid lightslategrey;
}
.center{margin: 0 auto;    margin-top: 4px;}
li{line-height: 15px;color:blue}
.textCenter{text-align: center}
.title{margin-top: 2%;margin-bottom: 2%;}