<footer class="section section-primary" style="margin-top: 0.6em">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="text-align:center">
                <h3><?=$organization;?></h3>
                <p><b><?=$street;?></b></p>
                <p>
                    <b>
                        <?=$pocode;?>&nbsp;<?=$city;?>&nbsp;-&nbsp;<?=$country;?>
                    </b>
                </p>
            </div>
            <div class="col-sm-6" style="text-align:center">
                <p class="text-info text-capitalize">
                </p>
                <div class="row" >
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm">
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-twitter text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-github text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-envelope text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-linkedin text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-phone text-inverse"></i>
                        </a>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12 hidden-xs">
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-twitter text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-github text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-envelope text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-linkedin text-inverse"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-2x fa-fw fa-phone text-inverse"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
